<div class="comment-box clr">
  <% @fonts.each do |f| %>
    <% status = logged_in? ? f.my_agree_status : '' %>
    <div class="set3c">
      <a href="<%= show_font_path(f.family_id, :font_id => f.id) %>">
        <img src="<%= f.img_url %>" width="300" alt="" />
        <span>
          <span class="pop-disclaimer"><%= f.display_name %></span>
          <%= pluralize(f.agrees_count, 'Agree') %>
          <% if status == 'Tagged' %>
            <img class="user-spotted" src="<%= asset_path('Spotted-Small.png') %>" width="14" height="16" title="Spotted" />
          <% elsif status == 'Agreed' %>
            <img class="selected" src="<%= asset_path('Agreed-Clicked.png') %>" width="22" height="18" title="Agreed" />
          <% else %>
            <img src="<%= asset_path('Agreed--Default.png') %>" width="22" height="18" title="Agree" />
          <% end %>
        </span>
      </a>
    </div>
  <% end %>
</div>
