<% content_for :custom_js do %>
  <%= render 'shared/pinned_header_js' %>
<% end %>
<% no_info = @user.description.blank? %>

<section id="stream">
<div class="pro-header-b<%= '-none' if no_info %>">
<div class="wrapper">
  <a class="pro-img-big<%= '-none' if no_info %>">
    <%= profile_image(@user, :big) %>
    <div class="overlap-a<%= '-none' if no_info %>"></div>
  </a>
  <div class="block-b<%= '-none' if no_info %>">
    <a href="javascript:;" class="header-user<%= '-none' if no_info %>">@<%= @user.username %></a>
    <h1><%= @user.full_name %></h1>
    <% unless no_info %>
      <p><%= @user.description %></p>
    <% end %>
    <% unless @user.website.blank? %>
      <a href="<%= @user.website %>" target="blank"><%= @user.website %></a>
    <% end %>
  </div>
  <div class="block-c<%= '-none' if no_info %>">
    <div>
      <%#= render_follow_button(@user) %>
      <%#= render_flag_button(@user) %>
    </div>
  </div>
</div>
</div>
<div class='pro-header-d' id='pinned_header'>
  <div class='wrapper'>
    <%= render 'profile_cta' %>
  </div>
</div>

<section id='profile_section_container'>
  <%= render '/shared/photo_list', :section => 'profile-post' %>
</section>
<div class="loader hidden" style="width:32px;margin:10px auto;">
  <img src='<%= asset_path('ajax-loader-sm.gif') %>' alt='Loading...' />
</div>
</section>
