<%= render 'popular_header' %>

<% users_selected = @users.select(&:show_in_header) %>
<% users_to_select = @users - users_selected %>

<div class='span10'>
  <h3 class='pull-left'>Popular Users <span class='label label-info'>Cached for 24 hours</span></h3>
  <%= link_to('Expire cache now', expire_popular_cache_admin_path, method: :post, class: 'btn btn-primary pull-right', title: 'Please run this once you are completely done curating Users, Photos and Fonts.', rel: 'tooltip') %>
  <div style='clear:both;'>&nbsp;</div>
</div>

<div id="to_approve" class="ui-widget ui-helper-clearfix">
  <h5>Content to Approve</h5>
  <% users_to_select.each do |u| %>
    <img src='<%= u.url_thumb %>' data-id='<%= u.id.to_s %>' title="<%= u.username %>" class='draggable' />
  <% end %>
</div>

<div id="approved" class="ui-widget ui-state-default">
  <h5>Approved Content</h5>
  <% users_selected.each do |u| %>
    <img src='<%= u.url_thumb %>' data-id='<%= u.id.to_s %>' title="<%= u.username %>" class='draggable' />
  <% end %>
  &nbsp;
</div>
<div style="clear:left;">&nbsp;</div>
