<% content_for :custom_js do %>
  photoIds = [];
<% end %>

<% fotos = u.photos.only(:id, :data_filename).limit(4).to_a %>
<div class="limelight-content">
  <a href="<%= profile_path(u.id) %>" class="pro-img-big">
    <img src="<%= u.url_large %>" width="100%" height="auto">
    <div class="overlap-d"></div>
  </a>
  <div class="user-detail">
    <a href="<%= profile_path(u.id) %>"><%= u.username %></a>
    <a class='profile-name' href="<%= profile_path(u.id) %>"><%= u.full_name %></a>
    <%= render_follow_button(u) %>
    <div class="clear"> </div>

    <ul>
      <% fotos.each do |f| %>
        <li rel='popitup' href='<%= show_feed_path(f) %>' data-id='<%= f.id %>'>
          <a href="javascript:;">
            <img src="<%= f.url_thumb %>" width="68" height="68" />
          </a>
        </li>
      <% end %>
    </ul>
    <ul class="subtext">
      <li><a href="<%= profile_path(u.id) %>"><%= pluralize(u.photos_count, 'Post') %></a></li>
      <li><a href="<%= profile_path(u.id) %>"><%= pluralize(u.my_fonts_count, 'Spotting') %></a></li>
      <li><a href="<%= profile_path(u.id) %>"><%= pluralize(u.followers_count, 'Follower') %></a></li>
    </ul>
  </div>
</div>
