<% content_for :custom_js do %>
  photoIds = [];
<% end %>

<div class="wrapper recently_spotted">
<% @fonts.each do |f| %>
  <ul>
    <li>
      <a href="<%= show_font_path(f.family_id, :font_id => f.id) %>">
        <img src="<%= f.img_url %>" width="290" height="auto">
        <h5>
          <span><%= f.display_name %></span>
          <% unless f.owner.blank? %>
            <label>by <%= f.owner %></label>
          <% end %>
        </h5>
        <span><%= pluralize(f.tagged_photos_count, 'Photo') %></span>
        <span><%= f.favs_count %> Favourite</span>
      </a>
    </li>
    <% Font.tagged_photos_popular(f.family_id).each do |p| %>
      <li rel='popitup' href='<%= show_feed_path(p) %>' data-id='<%= p.id %>'>
        <a class="spotted-img" href="javascript:;">
          <img src="<%= p.url_thumb %>" width="206" height="206" />
        </a>
      </li>
    <% end %>
  </ul>
<% end %>
</div>
