<% if logged_in? %>
  <% notif_cnt = current_user.notifications_count %>
  <div class="tertiary">
    <a href="<%= feeds_path %>" id="logo">Fontli</a>
    <div class="grey-box profile">
      <a href='<%= profile_path(current_user) %>' class='img-mask'>
        <img width="100%" height="100%" title="profile" src='<%= current_user.url_thumb %>'>
        <div class="overlap"></div>
      </a>
      <div class='notifications-count-box' href='<%= my_updates_path %>'><%= notif_cnt %></div>
    </div>
    <div class="grey-box up"></div>
    <div class="grey-box search">
      <%= form_tag search_path, :method => 'post' do %>
        <input type="text" name="search" placeholder="search" value="<%= params[:search] %>" />
      <% end %>
    </div>
  </div>
<% elsif not_homepage? && params[:controller] == 'feeds' %>
  <div class="tertiary">
    <a href="/" id="logo">Fontli</a>
    <div class="grey-box profile">
      <a href='#' class='img-mask'>
        <div class="overlap"></div>
      </a>
    </div>
    <div class="grey-box up"></div>
    <%= render '/shared/search_box' %>
  </div>
<% else %>
  <div class="primary">
    <a href="/" id="logo">Fontli</a>
    <% if homepage? %><%= render '/shared/search_box' %><% end %>
    <% if false %><a remote="true" data-href="<%= login_path(:default) %>" id="signup">Sign In</a><% end %>
    <span>discover, share, pure type love</span>
  </div>

  <div class="secondary">
    <div class="mobpic">
      <img src="<%= asset_path('phone.png') %>">
      <div id="slideshow" class='phone-top'>
        <div class="active">
          <img src="/perma-assets/images/slides/slide0a.png"/>
        </div>
        <div>
          <img src="/perma-assets/images/slides/slide05.png"/>
        </div>
        <div>
          <img src="/perma-assets/images/slides/slide00.png"/>
        </div>
        <div>
          <img src="/perma-assets/images/slides/slide01.png"/>
        </div>
        <div>
          <img src="/perma-assets/images/slides/slide01b.png"/>
        </div>
        <div>
          <img src="/perma-assets/images/slides/slide02.png"/>
        </div>
        <div>
          <img src="/perma-assets/images/slides/slide02a.png"/>
        </div>
        <div>
          <img src="/perma-assets/images/slides/slide03.png"/>
        </div>
        <div>
          <img src="/perma-assets/images/slides/slide04.png"/>
        </div>
      </div>
    </div>
    <h1 style='color:#999;'>Fontli is a social network for typoholics. Capture typography around you and share it. Let the typetalk develop on Fontli.</h1>
    <% android_href = apple_href = wp_href = 'javascript:;' %>
    <% android_class, apple_class, wp_class = 'android', 'apple', 'wp' %>
    <% if true || mob_req? # take them directly to app download url %>
      <% android_class = apple_class = wp_class = '' %>
      <% android_href = I18n.t('links.google_play', params: nil) %>
      <% apple_href = I18n.t('links.itunes', params: '?ls=1&mt=8') %>
      <% wp_href = 'http://www.windowsphone.com/s?appid=0d09f01f-17de-4757-b63c-a1cb32fbd655' %>
    <% end %>
    <div class="qrcode">
      <div class="app-download" style="height:56px;">
        <a href="<%= android_href %>" class='<%= android_class %>' target='blank'>
          <img src="<%= asset_path('Google-Play1.png') %>" width="200" height="56" alt="android-store" title="Play Store" />
        </a>
      </div>
      <div class="app-download">
        <a href="<%= apple_href %>" class='<%= apple_class %>' target='blank'>
          <img src="<%= asset_path('App-Store1.png') %>" width="96" height="30" alt="app-store" title="App Store" />
        </a>
        <a href="<%= wp_href %>" class='<%= wp_class %>' target='blank'>
          <img src="<%= asset_path('Windows-store1.png') %>" width="96" height="30" alt="windows-store" title="Windows Store" />
        </a>
      </div>
    </div>
  </div>
<% end %>
