<div id="leader_board" class="list_view">
  <h5>LeaderBoard</h5>
  <ul>
    <li>
      <%= image_tag "profile/profile_1.jpg" %>
      <div>
        <a href="#">San Mario</a><span>Correcting Pixels</span>
      </div>
    </li>
    <li>
      <%= image_tag "profile/profile_1.jpg" %>
      <div>
        <a href="#">Nadia</a><span>Sans Serifian</span>
      </div>
    </li>
    <li>
      <%= image_tag "profile/profile_1.jpg" %>
      <div>
        <a href="#">Diya</a><span>Tahoman</span>
      </div>
    </li>
    <li>
      <%= image_tag "profile/profile_1.jpg" %>
      <div>
        <a href="#">Dorathy</a><span>Correcting Pixels</span>
      </div>
    </li>
    <li>
      <%= image_tag "profile/profile_1.jpg" %>
      <div>
        <a href="#">Shauna</a><span>Caliberi</span>
      </div>
    </li>
    <li>
      <%= image_tag "profile/profile_1.jpg" %>
      <div>
        <a href="#">Surpia Sans</a><span>Correcting Pixels</span>
      </div>
    </li>
  </ul>
</div>
