<section id="banner" class="small">
<div class="wrap">
  <div id="slider1" class="slider">
    <ul>
      <li class='banner-cta' href='<%= recent_fonts_path %>'>
        <div style="width:305px;background:url('/web-assets/images/pok1.png') no-repeat;">
          <span>Recently Spotted</span>
        </div>
      </li>
      <li class='banner-cta' href='<%= sos_path %>'>
        <div style="width:305px;background:url('/web-assets/images/pok2.png') no-repeat;">
          <span>Type help needed</span>
        </div>
      </li>
      <li class='banner-cta' href='<%= popular_path %>'>
        <div class='img-tile-container'>
          <div class='img-tile' style="background:url('/web-assets/images/pok1.png') no-repeat;">
            <span>Popular</span>
          </div>
          <div class='split'>
            <img width="73" height="74" src="/web-assets/images/twitter-quote.png">
            <img width="73" height="74" src="/web-assets/images/twitter-quote.png">
            <div></div>
          </div>
          <div class='split'>
            <img width="73" height="74" src="/web-assets/images/twitter-quote.png">
            <img width="73" height="74" src="/web-assets/images/twitter-quote.png">
            <div></div>
          </div>
        </div>
      </li>
      <li class='banner-cta' href='<%= network_updates_path %>'>
        <div style="width:305px;background:url('/web-assets/images/pok1.png') no-repeat;">
          <span>Network Updates</span>
        </div>
      </li>
      <li class='banner-cta' href='<%= feeds_path %>'>
        <div style="width:305px;background:url('/web-assets/images/pok2.png') no-repeat;">
          <span>Feeds</span>
        </div>
      </li>
    </ul>
  </div>
  <%= render 'shared/controls' %>
</div>
</section>
