<section id="banner" class="small">
<div class="wrap">
  <div id="slider1" class="slider">
    <ul>
      <% foto = Photo.random_popular.first %>
      <li class='banner-cta' href='<%= popular_path(:type => 'post') %>'>
        <div style="width:305px;height:146px;background:url('<%= foto.try(:url_medium) %>') no-repeat scroll 0 -75px;">
          <span>Popular</span>
        </div>
        <i></i>
      </li>
      <% usrs = User.random_popular %>
      <li class='banner-cta' href='<%= popular_path %>'>
        <div class='img-tile-container'>
          <div class='img-tile' style="background:url('<%= usrs[0].try(:url_large) %>') no-repeat;">
            <span>Limelight</span>
          </div>
          <div class='split'>
            <img width="74" src="<%= usrs[1].try(:url_thumb) %>">
            <img width="74" src="<%= usrs[2].try(:url_thumb) %>">
            <div></div>
          </div>
          <div class='split'>
            <img width="74" src="<%= usrs[3].try(:url_thumb) %>">
            <img width="74" src="<%= usrs[4].try(:url_thumb) %>">
            <div></div>
          </div>
        </div>
        <i></i>
      </li>
      <% foto = Font.random_popular_photo.first %>
      <li class='banner-cta' href='<%= popular_path(:type => 'font') %>'>
        <div style="width:305px;height:146px;background:url('<%= foto.try(:url_medium) %>') no-repeat scroll 0 -75px;">
          <span>Recently Spotted</span>
        </div>
        <i></i>
      </li>
      <li class='banner-cta' href='javascript:;'>
        <div style="width:305px;height:146px;background:url('<%= asset_path('pok2.png') %>') no-repeat;">
          <span>Type Help Needed</span>
          <span class='subtext'>Coming Soon</span>
        </div>
        <i></i>
      </li>
      <li class='banner-cta' href='javascript:;'>
        <div style="width:305px;height:146px;background:url('<%= asset_path('pok1.png') %>') no-repeat;">
          <span>Network Updates</span>
          <span class='subtext'>Coming Soon</span>
        </div>
        <i></i>
      </li>
    </ul>
  </div>
  <%#= render 'shared/controls' %>
</div>
</section>
