<% fnt_name = show_appropriate_font_name(f) %>

<img src="<%= f.url_medium %>" class='popitup' style="display:block;">
<% if f.font_help? || f.sos_approved? || !fnt_name.blank? %>
  <div class="overlap-b popitup"></div>
<% end %>
<% unless section == 'profile-post'%>
  <i></i>
<% end %>
<% if f.font_help? || f.sos_approved? %>
  <ul class="mat1">
    <% if f.font_help? %><li class="mat1-a">SOS</li><% end %>
    <% if f.sos_approved? %><li class="mat1-b">SPOTTED</li><% end %>
  </ul>
<% end %>
<% unless fnt_name.blank? %>
  <span class="mat2">
    <%= fnt_name %>
  </span>
<% end %>
<span class="mat3"></span>

<% liked = @my_lks.nil? || @my_lks[f.id] %>
<%= render_photo_like_button(f, liked) %>
<span class="mat5">
  <%#= truncate(@my_cmts[f.id].try(:first).try(:body), :length => 40) %>
  <%= truncate(f.caption, :length => 40) %>
</span>
<% spotted = false && current_user.spotted_on?(f) %>
<a class="loc-img <%= 'selected' if spotted %> bg-tooltip" href="#"><label class="tooltip"><%= spotted ? 'spotted' : 'spot' %></label></a>
<span class="mat6"></span>
