<% content_for :custom_js do %>
  photoIds = <%= sanitize @photos.collect(&:id).to_json %>;
<% end %>

<% usr = @photos.first.try(:user) if @users_map.nil? # for user profile %>
<% section ||= '' %>
<% @photos.each do |f| %>
  <div rel='popitup' href='<%= show_feed_path(f) %>' data-id=<%= f.id %> class='feed-item'>
    <section>
      <%= render 'shared/photo_list_section', :f => f, :section => section %>
    </section>
    <% u = usr || @users_map[f.user_id].first %>
    <footer class='<%= section %>'>
      <%= render 'shared/photo_list_footer', :u => u, :f => f, :section => section %>
    </footer>
  </div>
<% end %>
