<div class="ipad-landing-popup" style="width:600px;margin:60px auto;">
  <div class="innershade">
    <a href="javascript:;" class="close-icon">Close</a>
    <div class="container" style='position:relative;top:145px;left:115px;right:10px;float:left;'>
      <div class="img-qrcode android">
        <img src="<%= asset_path('Google-Play-QR-code.png') %>" height="105" width="105" alt="Android" title="Android" />
        <span>Android</span>
      </div>
      <div class="img-qrcode apple">
        <img src="<%= asset_path('App-Store-QR-code.png') %>" height="105" width="105" alt="iOS" title="iOS" />
        <span>iOS</span>
      </div>
      <div class="img-qrcode wp" style="display:none;">
        <img src="<%= asset_path('WP-QR-code.png') %>" height="105" width="105" alt="WP" title="WP" />
        <span>WP</span>
      </div>
      <div class="qrtext">
        <img src="<%= asset_path('logo.png') %>" width="78" height="47" alt="logo" title="logo" />
        <h2>Scan the QR code to download the App.</h2>
        <span>For more details visit </span>
        <a href="<%= I18n.t('links.google_play', params: nil) %>" target='blank'>
          <img src="<%= asset_path('Google-Play.png') %>" width="80" height="34"  alt="play-store" title="Play Store" />
        </a>
        <a href="<%= I18n.t('links.itunes', params: '?ls=1&mt=8')
%>" target='blank'>
          <img src="<%= asset_path('App-Store.png') %>" width="80" height="34"  alt="app-store" title="App Store" />
        </a>
        <a href="http://www.windowsphone.com/s?appid=0d09f01f-17de-4757-b63c-a1cb32fbd655" target='blank'>
          <img src="<%= asset_path('Windows-store.png') %>" width="80" height="34" alt="win-store" title="Windows Store" />
        </a>
      </div>
    </div>
  </div>
</div>
