<li class="like">
  <div class="text">
    <a class="author" href="http://openprofile/<%= uid.to_s %>"><%= @users_map[uid].first.username %></a>liked <%= pluralize(feeds.length, 'post') %>.
  </div>
  <div class="clearfix">
    <% feeds[0,6].each do |lk| %>
      <a href="http://openphoto/<%= lk.photo_id.to_s %>"><img class="ref-img-med" src="<%= @photos_map[lk.photo_id].first.url_large %>" /></a>
    <% end %>
  </div>
  <div class="timestamp"><%= timestamp(feeds.first.created_at) %></div>
</li>
