<% recnt_fnt = @fonts_map[feeds.first.font_id].first %>
<% last_fnt = @fonts_map[feeds.last.font_id].first %>
<li class="fav">
  <div class="text">
    <span class="content"><a class="author" href="http://openprofile/<%= uid.to_s %>"><%= @users_map[uid].first.username %></a>added <a href="http://openfont/<%= recnt_fnt.family_id %>/<%= recnt_fnt.family_unique_id %>/<%= recnt_fnt.id.to_s %>/<%= recnt_fnt.subfont_id %>"><strong><%= recnt_fnt.display_name %></strong></a><%= " and <a href='http://openfont/#{last_fnt.family_id}/#{last_fnt.family_unique_id}/#{last_fnt.id.to_s}/#{last_fnt.subfont_id}'><strong>#{last_fnt.display_name}</strong></a>".html_safe if(feeds.length == 2) %><%= " and #{feeds.length - 1} more fonts" if(feeds.length > 2) %> to favorites.</span>
  </div>
  <div class="clearfix">
    <% feeds[0,6].each do |fav_fnt| %>
      <a href="http://openfont/<%= @fonts_map[fav_fnt.font_id].first.family_id %>/<%= @fonts_map[fav_fnt.font_id].first.family_unique_id %>/<%= fav_fnt.font_id %>/<%= @fonts_map[fav_fnt.font_id].first.subfont_id %>"><%= @fonts_map[fav_fnt.font_id].first.family_name %></a>
    <% end %>
  </div>
  <div class="timestamp"><%= timestamp(feeds.first.created_at) %></div>
</li>
