<% font = Font[n.extid] %>
<% foto = font.photo %>
<% taggd_usrs = font.recent_tagged_unames %>
<% taggd_cnt = font.tags_count - taggd_usrs.length %>
<% septr = (taggd_usrs.length == 2 ? 'and ' : ', ') %>
<% usrs = User.where(:username.in => taggd_usrs).to_a.group_by(&:username) %>
<li class="tag">
  <a href="http://openphoto/<%= foto.id.to_s %>"><img class="ref-img" src='<%= foto.url(:thumb) %>' /></a>
  <div class="text">
    <span class="content"><%= taggd_usrs.collect do |uname|
      "<a class='author' href='http://openprofile/#{usrs[uname].first.id.to_s}'>#{uname}</a>"
    end.join(septr).html_safe %><%= "and #{pluralize(taggd_cnt, 'other')}" if taggd_cnt > 0 %>spotted <a href="http://openfont/<%= font.family_id %>/<%= font.family_unique_id %>/<%= font.id.to_s %>/<%= font.subfont_id %>"><strong><%= font.display_name %></strong></a> on your post.</span>
  </div>
  <div class="timestamp"><%= timestamp(n.updated_at) %></div>
</li>
