<% com = n.notifiable %>
<% return if com.body.blank? # don't render blank comment notif %>
<% foto = com.photo %>
<li class="comment">
  <a href="http://openphoto/<%= foto.id.to_s %>"><img class="ref-img" src='<%= foto.url(:thumb) %>' /></a>
  <div class="text">
    <span class="content"><a class="author" href="http://openprofile/<%= n.from_user_id.to_s %>"><%= n.from_user.username %></a>said, "<%= com.body %>"</span>
  </div>
  <div class="timestamp"><%= timestamp(n.updated_at) %></div>
</li>
