<% mention = n.notifiable %>
<% obj = mention.mentionable %>
<% is_comment = (obj.klass_s == 'comment') %>
<% foto = is_comment ? obj.photo : obj %>
<li class="comment">
  <a href="http://openphoto/<%= foto.id.to_s %>"><img class="ref-img" src='<%= foto.url(:thumb) %>' /></a>
  <div class="text">
    <% if is_comment %>
      <span class="content"><a class="author" href="http://openprofile/<%= n.from_user_id.to_s %>"><%= n.from_user.username %></a>mentioned you in a comment: "<%= obj.body %>"</span>
    <% else %>
      <span class="content"><a class="author" href="http://openprofile/<%= n.from_user_id.to_s %>"><%= n.from_user.username %></a>mentioned you in a post: "<%= obj.caption %>"</span>
    <% end %>
  </div>
  <div class="timestamp"><%= timestamp(n.updated_at) %></div>
</li>
