<h3>
  <%= @title || 'Collections' %> <span class="badge badge-info"><%= @collections.length %></span>
</h3>

<%= render 'shared/flash_notices' %>

<div id='new_collection'>
  <%= form_for :collection, url: admin_collections_path, class: 'form-inline' do |f| %>
    <%= f.text_field :name, placeholder: 'Name' %>
    <%= f.text_field :description, class: 'input-xlarge', placeholder: 'Description (Optional)' %>
    <%= submit_tag 'Create New', class: 'btn btn-primary', style: 'margin-bottom:10px;' %>
  <% end %>
</div>

<table class='table table-striped table-condensed span10' style='margin-left:0;'>
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>Name</th>
      <th>Description</th>
      <th>Photos</th>
      <th>Created By</th>
      <th>Active?</th>
      <th>Cover Photo</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @collections.each_with_index do |c, i| %>
    <tr id='collection_<%= c.id.to_s %>'>
      <td><%= i + 1 %></td>
      <td><%= link_to c.name, admin_collection_path(c.id) %></td>
      <td><%= c.description %></td>
      <td><%= c.photos_count %></td>
      <td><%= c.custom? ? c.user.try(:username) : 'Admin' %></td>
      <td><%= c.active? ? 'Yes' : 'No' %></td>
      <td class='collection_cover_photo'>
        <%= image_tag(c.cover_photo_url) if c.cover_photo_url %>
      </td>
      <td class='actions_link'>
        <%= link_to 'Edit', edit_admin_collection_path(c.id) %>
        <%= link_to 'Delete', admin_collection_path(c.id), method: :delete,
            confirm: "Are you sure you want to delete #{c.name}? This will remove all the photos of this collection PERMANENTLY!", class: 'delete_collection' %>
        <% unless c.active? %>
          <%= link_to('Activate', activate_admin_collection_path(c.id), method: 'put') %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
