<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Fontli: Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le styles -->
    <link href="/bootstrap-assets/css/bootstrap.css" rel="stylesheet">
    <link href="/bootstrap-assets/css/bootstrap-responsive.css" rel="stylesheet">
    <%= stylesheet_link_tag "admin" %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/bootstrap-assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/bootstrap-assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/bootstrap-assets/ico/apple-touch-icon-57-precomposed.png">

    <%= yield(:head) %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/admin">Fontli Admin</a>
          <div class="nav-collapse">
            <%= render 'admin/top_nav' %>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <%= yield %>
    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/bootstrap-assets/js/jquery.js"></script>
    <script src="/bootstrap-assets/js/bootstrap-transition.js"></script>
    <script src="/bootstrap-assets/js/bootstrap-alert.js"></script>
    <script src="/bootstrap-assets/js/bootstrap-modal.js"></script>
    <script src="/bootstrap-assets/js/bootstrap-dropdown.js"></script>
    <script src="/bootstrap-assets/js/bootstrap-scrollspy.js"></script>
    <script src="/bootstrap-assets/js/bootstrap-tab.js"></script>
    <script src="/bootstrap-assets/js/bootstrap-tooltip.js"></script>
    <script src="/bootstrap-assets/js/bootstrap-popover.js"></script>
    <script src="/bootstrap-assets/js/bootstrap-button.js"></script>
    <script src="/bootstrap-assets/js/bootstrap-collapse.js"></script>
    <script src="/bootstrap-assets/js/bootstrap-carousel.js"></script>
    <script src="/bootstrap-assets/js/bootstrap-typeahead.js"></script>
    <%= javascript_include_tag 'admin' %>

    <%= javascript_tag :defer => 'defer' do %>
      $('li.disabled').each(function() {
        elem = $(this).find('a');
        elem.attr('href', '#');
        elem.attr('onclick', 'return false;');
      });

      $('a').not('.btn-default').live('ajax:before', function() {
        $(this).replaceWith('<strong>Loading..</strong>');
      });
    <% end %>
    <script defer="defer" type="text/javascript">
      <%= yield(:custom_js) %>
    </script>
  </body>
</html>
