<!DOCTYPE html>
<html>
  <head>
    <title><%= meta_title %></title>
    <meta  content="charset=utf-8">
    <meta name="description" content="Fontli lets designers and type-enthusiasts discover new fonts and great Typography. Using Fontli, you can capture interesting Typography from everyday life and share it with a vibrant community of type lovers. Font integration is made with the MyFonts API." />
    <meta name="keywords" content="<%= meta_keywords %>" />
    <% if @noindex %>
      <meta name="robots" content="noindex" />
    <% end %>

    <%= stylesheet_link_tag "application" %>
    <% if session[:diya] %>
      <link href="<%= asset_path('mobile.css') %>" rel="stylesheet/less" type="text/css" />
    <% end %>
    <link rel="image_src" type="image/jpeg" href="http://www.fontli.com<%= asset_path('logo_150.png') %>" />
    <%= javascript_include_tag "application" %>

    <% slider_height = homepage? ? 305 : 146 %>
    <style type="text/css" media="screen">
      body div.slider    { overflow:hidden; position:relative; width:100%; }
      body div.slider ul { margin:0; padding:0; height:<%= slider_height %>px; background-color:#1a1a1a; }
      body div.slider li { position:relative; float:left; list-style:none; cursor:pointer; text-align:center; line-height:160px; font-size:25px; }
      .wrap ul li div{height:<%= slider_height %>px;}
      .wrap ul li div.img-shadow { height:305px; width:305px; position:absolute; pointer-events:none; box-shadow: 0 28px 28px -18px rgba(0,0,0,0.7) inset, 0 -28px 28px -18px rgba(0,0,0,0.7) inset; }
    </style>

    <%= yield(:head) %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render 'shared/google_analytics' %>
    <%= render 'shared/popup_container' %>
    <div id='ajax_loader'><img src='<%= asset_path('ajax-loader-transparent.gif') %>' alt='Loading...' /></div>
    <%= yield(:pre_content) %>

    <div id="masterWrapper" style="opacity:0.9">
      <header class="main">
        <div class="wrapper" style="<%= 'position:relative' if homepage? %>">
          <%= render 'shared/header' %>
        </div>
      </header>

      <%#= render 'shared/navigation' if logged_in? %>
      <%= render 'shared/navigation_temp' if not_homepage? && params[:controller] == 'feeds' %>
      <%= yield %>

      <footer class="main">
        <%= render 'shared/footer' %>
      </footer>
    </div>
    <div id="scroll_top" class='fixed-bottom hidden'>Back to top</div>

    <script type="text/javascript">
      $(document).ready(function() {
        <%= yield(:custom_js) %>
      });
    </script>
  </body>
</html>
